<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Sizuka</title>
    <script src="static/vue-2.5.13.js"></script>
    <script src="static/axios.js"></script>
    <script src="static/js.cookie.min.js"></script>

    <!-- import stylesheet -->
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <!-- import iView -->
    <script src="//unpkg.com/iview/dist/iview.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <style>
        ul.ivu-tree-children {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div id="app">
    <Row>
        <i-col span="24" style="padding: 10px;border-bottom: 1px solid gray;">
            <Row>
                <i-col span="24">
                    <h1>{{site_title}}</h1>
                    <p>Aliyun OSS Static Content Services</p>
                </i-col>
                <i-col span="24" style="text-align: right">
                    <template v-if="is_public">
                    </template>
                    <i-button v-on:click="setToken" v-else>
                        <template v-if="token_written">Logout</template>
                        <template v-else>Login</template>
                    </i-button>
                </i-col>
            </Row>
        </i-col>
    </Row>
    <Row>
        <i-col span="24" style="padding: 10px;border-bottom: 1px solid gray;">
            <Row style="margin: 0">
                <i-col span="24">
                    <h2>
                        Explorer
                    </h2>
                </i-col>
            </Row>
            <Row>
                <i-col span="24">
                    <Alert type="error" v-if="message.length>0">{{message}}</Alert>
                </i-col>
            </Row>
            <Row>
                <i-col span="24">
                    <Tabs v-model="tab_name">
                        <tab-pane label="Files" name="tree">
                            <Row>
                                <i-col span="14" style="text-align: left;">
                                    <i-button type="text" icon="refresh" v-on:click="explore(true)">Cached on
                                        {{cache_time}}
                                    </i-button>
                                </i-col>
                                <i-col span="10" style="text-align: right">
                                    <i-button type="info" icon="ios-search" v-on:click="explore(false)"
                                              style="display: inline-block">Refresh
                                    </i-button>
                                </i-col>
                            </Row>
                            <Row style="margin-top: 10px;border-top: 1px solid gray">
                                <i-col span="24">
                                    <Spin v-if="object_tree===null"></Spin>
                                    <Tree :data="object_tree" @on-select-change="open_object" style="overflow: hidden"
                                          v-else></Tree>
                                </i-col>
                            </Row>
                        </tab-pane>
                        <tab-pane label="Preview" name="preview">
                            <div v-if="preview_url!==''">
                                Not selected any object yet.
                            </div>
                            <div v-else>
                                <div style="margin-top: 10px">
                                    {{opened_object_path}}
                                </div>
                                <div style="margin-top: 10px">
                                    <i-button type="ghost" icon="share" @click="open_sharable_page">Sharable Page
                                    </i-button>
                                    <i-button type="ghost" icon="arrow-expand" @click.prevent="open_content">Open in new
                                        tab!
                                    </i-button>
                                </div>
                                <iframe v-bind:src="preview_url"
                                        style="margin-top:10px;border: none;width:100%;min-height:350px;"></iframe>
                            </div>
                        </tab-pane>
                    </Tabs>
                </i-col>
            </Row>
        </i-col>
    </Row>
    <Row>
        <i-col span="24" style="padding: 10px;text-align: center">
            <p>Powered by <a href="https://github.com/sinri/sizuka">Project Sizuka</a>. Copyright 2018 Sinri Edogawa</p>
            <p>
                Donation with
                bitcoin: 18wCjV8mnepDpLzASKdW7CGo6U8F9rPuV4
            </p>
        </i-col>
    </Row>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            site_title: 'Sizuka',
            cache_time: '',
            path: '',
            object_tree: null,
            message: '',
            opened_object_path: '',
            preview_url: '',
            token_written: false,
            is_public: false,
            tab_name: 'tree',
        },
        methods: {
            loadSiteMeta: function () {
                axios.get(
                    '../Api/getSiteMeta'
                ).then((res) => {
                    console.log('success', res);
                    if (res.data.code !== 'OK') {
                        //alert('Explore Failed!');
                        this.message = res.data.data;
                    } else {
                        if (res.data.data.is_public) {
                            this.token_written = true;
                            this.is_public = true;
                        }
                        this.site_title = res.data.data.site_title;
                    }
                    if (this.token_written) {
                        this.explore();
                    }
                }).catch((res) => {
                    console.log('error', res);
                    this.message = 'ajax error';
                    if (this.token_written) {
                        this.explore();
                    }
                });
            },
            explore: function (ignore_cache) {
                if (
                    this.token_written
                //Cookies.get("sizuka_token")
                ) {
                    axios.get(
                        '../Api/explorer?force_update=' + (ignore_cache ? 'YES' : 'NO')
                    ).then((res) => {
                        console.log('success', res);
                        if (res.data.code !== 'OK') {
                            //alert('Explore Failed!');
                            this.message = res.data.data;
                        } else {
                            let tree = res.data.data.tree;
                            this.object_tree = tree.children;
                            this.cache_time = res.data.data.cache_time;
                            this.message = '';
                        }
                    }).catch((res) => {
                        console.log('error', res);
                        this.message = 'ajax error';
                    });
                } else {
                    this.message = "Token needed!";
                }
            },
            open_object: function (node) {
                if (node && node.length > 0) {
                    this.opened_object_path = node[0].path + (node[0].path.substr(-1) === '/' ? 'index.html' : '');
                    this.preview_url = "../proxy/" + this.opened_object_path;
                    console.log("open_object", this.preview_url);
                }
                if (this.preview_url !== '') {
                    this.tab_name = 'preview';
                }
            },
            open_content: function () {
                window.open(this.preview_url);
            },
            open_sharable_page: function () {
                window.open('object.html?path=' + encodeURIComponent(this.opened_object_path));
            },
            setToken: function () {
                this.update_token_written();
                if (this.token_written) {
                    Cookies.remove('sizuka_token');
                } else {
                    let token = prompt("Set your identity token below");
                    if (token === '') {
                        alert('Empty string received, you are still not login!');
                    } else {
                        Cookies.set('sizuka_token', token, {expires: 1});
                        this.explore();
                    }
                }
                this.update_token_written();
            },
            update_token_written: function () {
                let token = Cookies.get("sizuka_token");
                this.token_written = !!token;
            }
        },
        mounted: function () {
            this.update_token_written();
            this.path = "";
            this.loadSiteMeta();
        },
    })
</script>
</body>
</html>