<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sizuka</title>
    <!--    <script src="//unpkg.com/vue@2.5.16/dist/vue.js"></script>-->
    <!--    <script src="//unpkg.com/axios@0.18.0/dist/axios.js"></script>-->
    <script src="static/vue-2.5.13.js"></script>
    <script src="static/axios.js"></script>
    <script src="static/js.cookie.min.js"></script>

    <!-- import stylesheet -->
    <link rel="stylesheet" href="//unpkg.com/iview@2.14.3/dist/styles/iview.css">
    <!-- import iView -->
    <script src="//unpkg.com/iview@2.14.3/dist/iview.js"></script>
    <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<div id="app">
    <Row>
        <i-col span="2">&nbsp;</i-col>
        <i-col span="20" style="padding: 20px;border-bottom: 1px solid gray;">
            <Row>
                <i-col span="18">
                    <h1>{{site_title}} - Static Content Services</h1>
                </i-col>
                <i-col span="6" style="text-align: right">
                    <template v-if="is_public">
                        &nbsp;
                    </template>
                    <i-button v-on:click="setToken" v-else>
                        <template v-if="token_written">Logout</template>
                        <template v-else>Login</template>
                    </i-button>
                </i-col>
            </Row>
        </i-col>
        <i-col span="2">&nbsp;</i-col>
    </Row>
    <Row v-if="is_public || token_written">
        <i-col span="2">&nbsp;</i-col>
        <i-col span="20" style="padding: 20px;border-bottom: 1px solid gray;">
            <Row style="margin: 20px 0">
                <i-col span="12">
                    <h2>
                        Explorer
                        &nbsp;&nbsp;
                        <small>Cached on {{cache_time}}</small>
                    </h2>
                </i-col>
                <i-col span="12" style="text-align: right">
                    <!--
                    <i-input v-model="path_input">
                        <i-button slot="append" icon="ios-search" v-on:click="explore"></i-button>
                    </i-input>
                    -->
                    <i-button type="ghost" icon="refresh" v-on:click="explore(true)" style="display: inline-block">Force
                        Update
                    </i-button>
                    &nbsp;&nbsp;
                    <!--<i-button icon="ios-search" v-on:click="explore(false)">Refresh</i-button>-->
                </i-col>
            </Row>
            <Row>
                <i-col span="24">
                    <Alert type="error" v-if="message!==''">{{message}}</Alert>
                </i-col>
            </Row>
            <Row>
                <i-col :span="tree_span" style="overflow: auto;padding-right: 10px">
                    <Card style="width: 100%;min-height: 543px;" v-show="tree_switch">
                        <div slot="title">
                            <div style="float: left">Contents</div>
                            <div style="float: right">
                                <i-button size="small" icon="ios-search" v-on:click="explore(false)">Refresh</i-button>
                            </div>
                            <div style="clear: both"></div>
                        </div>
                        <Spin v-if="object_tree===null"></Spin>
                        <Tree :data="object_tree" @on-select-change="open_object" style="overflow: hidden"
                              v-else></Tree>
                    </Card>
                </i-col>
                <i-col :span="preview_span">
                    <Card style="width: 100%;min-height: 500px;">
                        <div slot="title">
                            <Row>
                                <i-col span="24">
                                    <i-switch @on-change="change_tree_switch" v-model="tree_switch">
                                        <span slot="open"><Icon type="android-arrow-back"></Icon></span>
                                        <span slot="close"><Icon type="android-arrow-forward"></Icon></span>
                                    </i-switch>
                                    <!--<i-button v-on:click="change_tree_switch">-->
                                    <!--<template v-if="tree_switch">Hide</template>-->
                                    <!--<template v-else>Show</template>-->
                                    <!--</i-button>-->
                                    <Icon type="easel"></Icon>
                                    Preview
                                </i-col>
                                <i-col span="24"
                                       style="margin-top:20px;padding-top:10px;border-top: 1px solid lightgray;"
                                       v-if="opened_object_path!=''">
                                    <p>Object: <span>{{opened_object_path}}</span></p>
                                    <div v-if="opened_object_meta!==null">
                                        <p>Date: {{opened_object_meta.local_time}}</p>
                                        <p>Size: {{opened_object_meta['computed_size']}}</p>
                                        <p>
                                            URL:
                                            <a :href="opened_object_meta?.signed_url_for_public">
                                                <template v-if="opened_object_meta?.signed_url_for_public?.length>60">
                                                    {{opened_object_meta.signed_url_for_public.substr(0,30)}}
                                                    ...
                                                    {{opened_object_meta.signed_url_for_public.substr(-30)}}
                                                </template>
                                                <template v-else>
                                                    {{opened_object_meta?.signed_url_for_public}}
                                                </template>
                                            </a>
                                        </p>
                                    </div>
                                    <div v-else>
                                        <p>Not Loaded Yet ...</p>
                                    </div>
                                </i-col>
                            </Row>
                        </div>
                        <div slot="extra">
                            <!--                            <i-button type="ghost" icon="ios-cloud-download" @click="open_download_directly">Download-->
                            <!--                            </i-button>-->
                            <i-button type="ghost" icon="share" @click="open_sharable_page">Sharable Page</i-button>
                            <i-button type="ghost" icon="arrow-expand" @click.prevent="open_content">Open in new tab!
                            </i-button>
                        </div>
                        <iframe v-bind:src="preview_url" style="border: none;width:100%;min-height:450px;"></iframe>
                    </Card>
                </i-col>
            </Row>
        </i-col>
        <i-col span="2">&nbsp;</i-col>
    </Row>
    <!--    <Row v-else>-->
    <!--        <h2 style="text-align: center">PRIVATE SITE, PLEASE SIGN IN WITH YOUR IDENTITY!</h2>-->
    <!--    </Row>-->
    <Row>
        <i-col span="2">&nbsp;</i-col>
        <i-col span="20" style="padding: 20px;text-align: center">
            <p>Powered by <a href="https://github.com/sinri/Sizuka">Sizuka</a> Copyright 2018 Sinri Edogawa</p>
            <p>
                Donation with
                bitcoin: 18wCjV8mnepDpLzASKdW7CGo6U8F9rPuV4
            </p>
            <p v-html="site_footer_remark"></p>
        </i-col>
        <i-col span="2">&nbsp;</i-col>
    </Row>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            site_title: 'Sizuka',
            site_footer_remark: '',
            cache_time: '',
            path: '',
            path_input: '',
            object_tree: null,
            message: '',
            opened_object_path: '',
            opened_object_meta: null,
            preview_url: '',
            direct_download_url: '',
            tree_switch: true,
            tree_span: 8,
            preview_span: 16,
            token_written: false,
            is_public: false,
        },
        methods: {
            loadSiteMeta: function () {
                axios.get(
                    '../Api/getSiteMeta'
                ).then((res) => {
                    console.log('success', res);
                    if (res.data.code !== 'OK') {
                        //alert('Explore Failed!');
                        this.message = res.data.data;
                    } else {
                        if (res.data.data.is_public) {
                            this.token_written = true;
                            this.is_public = true;
                        }
                        this.site_title = res.data.data.site_title;
                        this.site_footer_remark = res.data.data.site_footer_remark;
                    }
                    if (this.token_written) {
                        this.explore();
                    }
                }).catch((res) => {
                    console.log('error', res);
                    this.message = 'ajax error';
                    if (this.token_written) {
                        this.explore();
                    }
                });
            },
            explore: function (ignore_cache) {
                console.log('explore token_written is ', this.token_written)
                if (
                    this.token_written
                //Cookies.get("sizuka_token")
                ) {
                    axios.get(
                        '../Api/explorer?force_update=' + (ignore_cache ? 'YES' : 'NO')
                    ).then((res) => {
                        console.log('api [explorer] response here', res);
                        if (res.data.code !== 'OK') {
                            //alert('Explore Failed!');
                            this.message = res.data.data;
                        } else {
                            let tree = res.data.data.tree;
                            this.object_tree = tree.children;
                            this.cache_time = res.data.data.cache_time;
                            this.message = '';
                        }
                    }).catch((res) => {
                        console.log('error', res);
                        this.message = 'ajax error';
                    });
                } else {
                    this.message = "Token needed!";
                }
            },
            open_object: function (node) {
                this.message = '';
                this.opened_object_meta = null;
                if (node[0].path.substr(-1) === '/') {
                    // is dir
                    this.opened_object_path = node[0].path + 'index.html';
                } else {
                    // is file
                    this.opened_object_path = node[0].path;
                    this.fetch_object_meta();
                }
                // this.opened_object_path = node[0].path + (node[0].path.substr(-1) === '/' ? 'index.html' : '');
                this.preview_url = "../Api/previewUrlForObject?object=" + encodeURIComponent(this.opened_object_path);
                this.direct_download_url = "../Api/directlyDownloadUrlForObject?object=" + encodeURIComponent(this.opened_object_path);
                console.log("open_object", this.preview_url);
            },
            fetch_object_meta: function () {
                this.opened_object_meta = null;
                axios.get(
                    '../Api/getObjectMeta?object=' + encodeURIComponent(this.opened_object_path)
                ).then((res) => {
                    console.log('api [getObjectMeta] response here', res);
                    if (res.data.code !== 'OK') {
                        //alert('Explore Failed!');
                        this.message = res.data.data;
                    } else {
                        let meta = res.data.data.meta;
                        if (meta?.info?.url?.length > 0) {
                            if (meta.info.url.substr(0, 4) === 'http' && meta.info.url.substr(0, 5) !== 'https') {
                                meta.info.url = 'https' + meta.info.url.substr(4)
                            }
                        }
                        if (meta['content-length'] > 1024 * 1024 * 1024) {
                            meta['computed_size'] = meta['content-length'] / (1024 * 1024 * 1024.0) + " GB";
                        } else if (meta['content-length'] > 1024 * 1024) {
                            meta['computed_size'] = meta['content-length'] / (1024 * 1024.0) + "MB";
                        } else if (meta['content-length'] > 1024) {
                            meta['computed_size'] = meta['content-length'] / (1024.0) + "KB";
                        } else {
                            meta['computed_size'] = meta['content-length'] + "Bytes";
                        }
                        meta['local_time'] = (new Date(meta['date'])).toLocaleString();
                        meta['signed_url_for_public'] = res.data.data.signed_url;

                        this.opened_object_meta = meta
                        this.message = '';
                    }
                }).catch((res) => {
                    console.log('error', res);
                    this.message = 'ajax error';
                });
            },
            open_content: function () {
                window.open(this.preview_url);
            },
            open_sharable_page: function () {
                window.open('object.html?path=' + encodeURIComponent(this.opened_object_path));
            },
            open_download_directly: function () {
                window.open(this.direct_download_url);
            },
            change_tree_switch: function () {
                // this.tree_switch=!this.tree_switch;
                if (this.tree_switch) {
                    this.tree_span = 8;
                    this.preview_span = 16;
                } else {
                    this.tree_span = 0;
                    this.preview_span = 24;
                }
            },
            setToken: function () {
                this.update_token_written();
                if (this.token_written) {
                    Cookies.remove('sizuka_token');
                    this.update_token_written();
                } else {
                    let token = prompt("Set your identity token below");
                    if (token === '') {
                        alert('Empty string received, you are still not login!');
                        this.update_token_written();
                    } else {
                        Cookies.set('sizuka_token', token, {expires: 1});
                        this.update_token_written();
                        this.explore();
                    }
                }
            },
            update_token_written: function () {
                let token = Cookies.get("sizuka_token");
                this.token_written = !!token;
            }
        },
        mounted: function () {
            this.update_token_written();
            this.path = "";
            this.path_input = "";
            this.loadSiteMeta();
        },
    })
</script>
</body>
</html>